body {
    font-family: 'Montserrat', sans-serif;
}
.reviews-section{
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("./Images/reviewsSection.jpg") ;
    background-attachment: fixed;
    background-size: cover;
}
.reviews-section-wrapper{
    width:1160px;
    padding-top: 100px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    overflow: hidden;

}
.section-title.reviews{
    font-size: 36px;
    color: #FFFFFF;
    font-weight: normal;
    margin: 0;
    position: relative;
}

.section-title:before {
    top: 72px;
    content: '';
    position: absolute;
    border-bottom: 2px solid #18CFAB;
    width: 79px;
    left: 526px;
}

.section-title:after {
    top: 78px;
    content: '';
    position: absolute;
    border-bottom: 2px solid #18CFAB;
    width: 79px;
    left: 547px;
}


.fa-quote-left{
    margin-top: 100px;
    color: #18CFAB;
    font-size: 40px;
    margin-bottom:35px;
}
.review-text{
    font-weight: 300;
    font-size: 16px;
    color: #BBBBBB;
    margin: 0;
    line-height: 30px;
}
.reviews-author-name{
    margin-top: 30px;
    color: #18CFAB;
    font-weight: bold;
    font-size: 20px;
}
.reviews-author-position{
    color: #BBBBBB;
    font-weight: 300;
    font-size: 16px;
}
.reviews-author-photo{
    height: 143px;
    width: 143px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgba(31,218,181,0.2);
    margin-top: 50px;
}
.author-photo-small{
    margin-left: 20px;
    margin-right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgba(31,218,181,0.2);
}
.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: grey;
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
}

.swiper-button-next {
    position: absolute;
}
.small-slide-photos-carusel{
    margin-top: 70px;
}
