.form {
    font-family: "Arimo", sans-serif;
}

.container {
    width: 600px;
    margin: 0 auto;
    background-color: ghostwhite;
}

.form {
    margin: 0 auto;
    width: 500px;
    background-color: ghostwhite;
}
input {
    outline:none;
    border:1px solid lightgrey;
}
input:focus {
    outline:2px solid #11939A;
}
.head-text{
    font-size: 26px;
    padding-top:20px;
    padding-left:15px;
    font-weight: bold;
}
.radio-button-left-head {
    display: inline-block;
    margin-left: 10px;
}
.radio-button-right-head {
    display: inline-block;
    margin-left: 80px;
}
.container-label {
    position: relative;
    font-size: 20px;
    padding-left: 30px;
    cursor: pointer;
    user-select:none;
}
.container-label input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.checkmark {
    top:0;
    left: 0;
    position: absolute;
    height: 21px;
    width: 21px;
    border-radius:50%;
    border:1px solid grey;
    background-color: white;
}

.container-label:hover input + .checkmark {
    background-color: lightgrey;
}

.container-label input:checked + .checkmark {
    background-color: white;
}

.checkmark:after {
    content:"";
    display: none;
    position: absolute;
}

.container-label .checkmark:after {
    position: absolute;
    top:3px;
    left:3px;
    height: 15px;
    width: 15px;
    background-color: #11939A;
    border-radius:50%;
}

.container-label input:checked + .checkmark:after {
    display: block;
}
.input-email {
    width:468px;
    font-size:20px;
    padding: 15px;
    margin: 20px 0;
}
.input-First-Name {
    width:219px;
    font-size:20px;
    padding: 15px;

}
.input-Last-Name {
    border-left:0;
    width:218px;
    font-size:20px;
    padding: 15px;
}
.input-Phone {
    border-top:0;
    border-bottom:0;
    width: 468px;
    font-size:20px;
    padding: 15px;
   
}

.input-Password {
    width: 468px;
    font-size:20px;
    padding: 15px;
}

.input-City {
    width: 468px;
    font-size:20px;
    padding: 15px;
    margin-top: 20px;
}

.input-City::placeholder {
    color:black;
}
.input-select{
    position: relative;
    margin-top: 20px;
}

.input-select select {
    border:1px solid lightgrey;
    outline:none;
    width: 500px;
    font-size:20px;
    padding: 15px;
    appearance: none;
    -webkit-appearance: none;
    font-family:inherit
}

.input-select:after{
    content:"\f358";
    font-family: "Font Awesome 5 free";
    position: absolute;
    top: 17px;
    right: 13px;
    font-size: 20px;
    color:#11939A;
    pointer-events: none;
}

.input-select select:focus {
    outline:2px solid #11939A;
}

.input-Invite-Code {
    width: 468px;
    font-size:20px;
    padding: 15px;
    margin: 20px 0;
}
.terms-of-use-text,
.privacy-policy-text,
.footer-link {
    color:#11939A;
    text-decoration: none;
}

.input-submit {
    vertical-align: middle;
    font-weight: bold;
    width: 500px;
    font-size:25px;
    padding: 15px;
    margin: 20px 0;
    background-color:#11939A;
    border: none;
    color: white;
    text-align: left;
    cursor:pointer;
    line-height: 28px;
}
.input-submit:after {
    font-family: "Font Awesome 5 free";
    content:"\f30b";
    float:right;
    color:white;
    font-size: 20px;
    padding-right:20px;
    line-height: 28px;
}
.input-submit:hover {
    box-shadow: 1px 1px 3px grey;

}
