body {
    background-color: grey;
}

.table-grid-container {
    width: 40%;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 10px;
    background: teal;



}

.box {
    border: 2px solid darkslategrey;
    box-shadow: 4px 4px 7px white;
}

.r1c1 {
    grid-column: 1/3;
    background: lightgrey;


}

.r1c3 {
    grid-column: 3/6;
    background: lightgrey;
}

.r1c6 {
    grid-column: 6/7;
    background: black;
}

.r1c7 {
    grid-column: 7/8;
    background: lightgrey;
}

.r2r4 {
    grid-row: 2/4;
    grid-column: 1/2;
    background: lightgrey;
}

.r2c2 {
    grid-column: 2/6;
    grid-row: 2/6;
    background: dodgerblue;
}

.r2c6 {
    grid-row: 2/4;
    grid-column: 6/8;
    background: yellow;
}

.r4r7 {
    grid-row: 4/7;
    grid-column: 1/2;
    background: lightgrey;
}

.r4c6 {
    grid-row: 4/6;
    grid-column: 6/7;
    background: lightgrey;
}

.r4c7 {
    grid-row: 4/6;
    grid-column: 7/8;
    background: lightgrey;
}

.r5c2 {
    grid-row: 6/8;
    grid-column: 2/4;
    background: black;
}

.r6c4 {
    grid-column: 4/6;
    grid-row: 6/7;
    background: lightgrey;
}

.r6c6 {
    grid-column: 6/8;
    grid-row: 6/7;
    background: lightgrey;
}

.r7r10 {
    grid-row: 7/10;
    grid-column: 1/2;
    background: yellow;
}

.r7c4 {
    grid-row: 7/8;
    grid-column: 4/6;
    background: lightgrey;
}

.r7c6 {
    grid-row: 7/9;
    grid-column: 6/8;
    background: red;
}

.r8c2 {
    grid-row: 8/10;
    grid-column: 2/4;
    background: lightgrey;
}

.r8c4 {
    grid-row: 8/9;
    grid-column: 4/6;
    background: black;
}

.r9c4 {
    grid-row: 9/10;
    grid-column: 4/6;
    background: yellow;
}

.r9c6 {
    grid-row: 9/11;
    grid-column: 6/8;
    background: dodgerblue;
}

.r10c1 {
    grid-row: 10/11;
    grid-column: 1/2;
    background: lightgrey;
}

.r10c2 {
    grid-row: 10/11;
    grid-column: 2/4;
    background: lightgrey;
}

.r10c4 {
    grid-row: 10/11;
    grid-column: 4/5;
    background: black;
}

.r10c5 {
    grid-row: 10/11;
    grid-column: 5/6;
    background: yellow;
}