body {
    background:#232323 ;
}
.table-picture {
    margin: 0 auto;
    background: #f0f0f0;
    border:10px solid #2f2f2f;
    border-collapse: collapse;
}
.table-art-cell {
    width: 50px;

}
td {
    border:5px solid #2f2f2f;
}
tr {
    height: 50px;
}
.black-square {
    background-color: #000000;
}
.yellow-square {
    background-color: #f8df00;
}
.blue-square {
    background-color: #186cb2;
}
.red-square {
    background-color: #e9000c;
}